.item {
  height: 100px;
  color: white;
  cursor: pointer;
}

.map {
  height: 400px;
}

.box {
  border: 1px solid #4f687d;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  background-color: #2e3d49;
}
